.container {
  width: min(100vw, 680px);
  padding: 1em;
}

.mainText {
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  margin: 1rem 0;
}

.subText {
  font-size: 1.2em;
  line-height: 1.5;
}

.btn {
  padding: .4em .8em;
}