.container {
  width: min(100vw, 680px);
  border: 1px solid red;
  padding: 1em;
}

.mainText {
  font-size: 1.9em;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid #cecece;
}

.subText {
  font-size: 1.2em;
  line-height: 1.5;
}